/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #030306;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* ESTILO CABEÇALHO */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 4%;
    z-index: 10;
    background-color: #030306;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #545454;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}

header a:hover{
    color:#ffffff;
    transform: scale(1.05);
    transition: .2s;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    background-color: #b84e4ed5;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 10px #b84e4ed5;
}

.logo a img{
    width: 100px;
    height: 100px;
    display: flex;
}


/* ESTILO HOME PAGE */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px 3% 0;
    max-width: 100%;
    min-height: 600px;
    min-width: 1200px;
}

.description-container{
    width: 500px;
    height: 600px;
    padding-top: 50px;
}

.photo-container{
    width: 500px;
    height: 600px;
    padding-left: 70px;
}

.details-container{
    width: 500px;
    height: 600px;
    padding-top: 30px;
    padding-left: 100px;
}

#hello{
    height: 60px;
    color: #232323;
    font-size: 60px;
}

#name{
    height: 100px;
    color: #b84e4ed5;
    font-size: 80px;
}

#last-name{
    color: #b84e4ed5;
    font-size: 70px;

}

#position{
    color: #ababab;
    font-size: 35px;
}

#hire-me-btn{
    margin-top: 10px;
    width: 165px;
    height: 45px;
    font-size: 28px;
    font-weight: 600;
    background-color: #b84e4ed5;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

#hire-me-btn:hover{
    /* box-shadow: 0px 0px 5px #f84e00; */
    transform: scale(1.10);
    transition: .5s;
}

#my-works-btn{
    margin-top: 10px;
    margin-left: 10px;
    width: 165px;
    height: 45px;
    font-size: 28px;
    font-weight: 600;
    color: white;
    background-color: #151515;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

#my-works-btn:hover{
    /* box-shadow: 0px 0px 5px #151515; */
    transform: scale(1.10);
    transition: .5s;
}

.home-photo img {
    width: 400px;
    max-height: 600px;
    padding-right: 30px;
    border-radius: 50px;
    transition: .8s;
}

.home-photo img:hover {
    transform: translateY(-20px);
}

.my-info{
    background-color: #232323;
    border-radius: 25px;
    width: 300px;
    height: 360px;
    padding: 20px 25px;
    margin: 0 25px;
}

.num-details{
    color: #b84e4ed5;
}

.info-details{
    color: white;
}

.details-container hr{
    color: #151515;
    border: 1px solid;
    width: 230px;
    margin: 30px 0;
    margin-left: 10px;
}


/* ESTILO DA SECTION DE ABOUT */

.about-container {
    padding: 50px 20px;
    background-color: #030306;
    max-width: 1200px;
    margin: 0 auto;
}

#about-title {
    text-align: justify;
    font-size: 80px;
    color: #b84e4ed5;
    margin-bottom: 50px;
}

.text-about-me {
    display: flex;
    gap: 15px;
    align-items: flex;
    text-align: justify;
}

.left-line {
    border: 1.5px solid #b84e4ed5;
    width: 80px;
    margin-top: 12px;
}

.about-text {
    color: #f9f9f9;
    text-align: justify;
    margin: 0;
    line-height: 1.6;
    font-size: 18px;
}

.highlight {
    color: #b84e4ed5;
    font-weight: bold;
}

/* ESTILO DA SECTION DE SKILLS */

.skills-container {
    padding: 50px 20px;
    background-color: #030306;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

#skills-title{
    height: 100px;
    font-size: 80px;
    color: #b84e4ed5;
    padding-bottom: 150px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px 5px;
    justify-content: center;
    align-items: center;
}

.skill{
    color: #f9f9f9;
    background-color: #232323;
    margin-top: 30px;
    margin-right: 70px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;
    width: 250px;
    height: 250px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: transform 0.8s;
}

.skill:hover {
    transform: translateY(-20px);
}

.skill h2{
    color: #f9f9f9;
    font-size: 23px;
    margin-bottom: 20px;
    padding-top: 30px;
}

.skills-grid img{
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    background-color: #232323;
    margin: 0;
    transition: filter 0.8s;
    filter: grayscale(100%);
}

.skill:hover img {
    filter: grayscale(0%);
}

/* ESTILO DA SECTION DE CONTACT */

.contact-container {
    padding: 50px 20px;
    background-color: #030306;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-left-line{
    border: 1.5px solid #b84e4ed5;
    width: 300px;
    margin-bottom: -65px;
}

#contact-title{
    height: 100px;
    font-size: 80px;
    color: #b84e4ed5;
    margin-bottom: -35px;
}

#contact-right-line{
    border: 1.5px solid #b84e4ed5;
    width: 300px;
    margin-bottom: -65px;
}

.contact-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181615;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

.contact-text {
    text-align: center;
    margin-bottom: 20px;
}

.contact-div-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.user-entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.user-entry input {
    background-color: #969696;
    border: 0;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: justify;
}

.user-info {
    color: #969696;
    margin-bottom: 5px;
}

#first-text{
    text-align: justify;
    height: 60px;
    color: #969696;
    font-size: 60px;
    margin-top: 20px;
}

#second-text{
    text-align: justify;
    height: 100px;
    color: #969696;
    font-size: 80px;
    margin-bottom: 20px;
}

 .user-info{
    color: #969696;
    display: block;
    margin-top: 15px;
}

.send-email {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    background-color: #b84e4ed5;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.send-email:hover{
    box-shadow: 0px 0px 10px #b84e4ed5;
}

.user-entry{
    color: #969696;
}

.other-contacts {
    color: #969696;
}

.user-entry input:focus, .user-entry textarea:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.my-contact-infos {
    display: flex;
    flex-direction: column;
    width: 340px;
    max-height: 340px;
    justify-content: center;
    background-color: #242424;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.my-contact-infos-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.my-contact-infos-title span {
    color: #b84e4ed5;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    margin-bottom: 30px;
    margin-left: 30px;
}

.message-entry {
    width: 300px;
    min-height: 30px;
    max-height: 500px;
    padding: 10px;
    font-size: 14px;
    resize: vertical;
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 5px;
    /* border: 1px solid #ccc; */
    background-color: #969696;;
    /* color: #000000; */
    line-height: 1.4;
    margin-bottom: 10px;
}

.contact-info i {
    color: #b84e4ed5;
    font-size: 18px;
}

.contact-info p {
    margin: 0;
    color: #969696;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 100px 5%;
        min-width: unset;
        align-items: center;
    }

    .description-container,
    .photo-container,
    .details-container {
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .photo-container img {
        width: 250px;
        height: auto;
        margin: 0 auto;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .skill {
        margin: 0 auto;
    }

    #hello, #name, #position {
        font-size: 32px;
        height: auto;
    }

    #hire-me-btn,
    #my-works-btn {
        width: 100%;
        font-size: 18px;
    }

    #about-title,
    #skills-title,
    #contact-title {
        font-size: 48px;
        text-align: center;
    }

    .contact-div-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .user-entry,
    .my-contact-infos {
        width: 100%;
        max-width: 340px;
    }
}